@import './style/variables';
@import './style/brekpoint';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Mulish:wght@400;500;600&family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: $font-title;
  color: $black;
  background: $light;
  overflow: hidden;

  @include mobile{
    overflow-y: scroll;
  }
}
.btn-container{
  display: flex;
  gap: 3px;
}
.btn-item{
  width: max-content;
  background: transparent;
  border: 1px solid $gray;
  padding: 3px 5px;
  border-radius: 5px;
  transition: .5s;
  margin: auto;

  &:hover{
      color: $blue;
      border-color: $blue;
   }
}
a{
  text-decoration: none;
}

.authinfo{
  position: absolute;
  background-image: linear-gradient(145deg, $shade3, $shade2);
  display: flex;
  align-items:center ;
  justify-content: center;
}

button.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .3s ease-in-out;
  user-select: none;
  width: 16.8125rem;
  
&::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: background 0.3s linear, width 0.3s linear;
    transition: background 0.3s linear, width 0.3s linear;
}
  a {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
   
.top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}
  
  .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}
  
    &:hover {
    color: white;
    background: black;
    
    &::before {
    width: 0.9375rem;
    background: white;
    }
    
    a {
    color: white;
    padding-left: 1.5em;
   }
    
    .top-key {
    left: -2px;
    width: 0px;
}
    .bottom-key-1 ,
    .bottom-key-2 {
    right: 0;
    width: 0;
  }
   
}

}
.section{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.main{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &-container{
    width: 100%;
    padding: 5px 30px 0 30px;
    margin-bottom: 30px;
  }
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-container{
  position: relative;
  margin: 30px auto 0;
  padding-top: 1rem;
  width: 1100px;
  height: 100%;
  overflow-x: hidden;
  border-radius: 10px;
  border: 1px solid $light-gray;
  background: $white;
}
.calendar-container{
  position: relative;
  margin: 0 30px;
}
.translatex{
  transform: translateX(-25%);
}

.table-header{
  padding: 10px ;
  display: flex;
  justify-content: space-between;
}

.input-date{
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
   
  span{
    left: 0;
     color: $light-gray;
     font-size: 12px;
  }
}
.modal_title{
    margin: 30px 0 15px;
    padding: 0;
    font-family: $font-title;
    text-align: center;
}
.text-modal{
  margin: 5px 0;
  font-weight: 400;
  line-height: 1.4;
  font-family: $font-text;
  font-size: 20px;
}
.container{
  margin: 0 auto;
  padding: 0;
  width: $container-width-lg;

  @include tablet{
    width: $container-width-md;
  }

  @include mobile{
    width: $container-width-sm;
  }
}