@import '../../style/brekpoint';
@import '../../style/variables';

.home{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $bg;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.forms{
    
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 0.5s ease-in;
  
}
.face{
  position: absolute;
  width: $prism-length;
  height: max-content;
  padding: $spacing;
  background: rgba(250, 250, 250, 0.815);
  border: 3px solid $light-blue;
  border-radius: 3px;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}

.content{
    display: grid;
    color: $text-dark;
    h2{
        font-size: 32px;
        color: $blue;
        text-align: center;
        font-family: $font-title;
      }
      a{
        margin-top: $spacing/2;
        text-align: center;
        text-decoration: none;
        color: $text-dark;
        transition: .5s;

        &:hover:after{
           content: "";
           display: inline-block;
           height: 2px;
           width:55%;
           background: $blue;
          //  transition:  .8s linear;
        }
      }
      .field-wrapper{
        margin-top: $spacing*1.5;
        position: relative;
  
        label{
          position: absolute;
          pointer-events: none;
          font-size: 0.85em;
          top: 60%;
          left: 0;
          transform: translateY(-50%);
          transition: all ease-in 0.25s;
          color: lighten($text-dark, 20%);
        }
        input[type="text"], input[type="password"], input[type="submit"], textarea{
          -webkit-appearance: none;
          appearance: none;
          &:focus{
            outline: none;
          }
        }
        input[type="email"],input[type="text"], input[type="tel"], input[type="password"], textarea{
          width: 100%;
          border: none;
          background: transparent;
          line-height: 1.4;
          border-bottom: 1px solid $blue;
          color: $text-dark;
  
          &::-webkit-input-placeholder{
            opacity: 0;
          }
          &::-moz-placeholder{
            opacity: 0;
          }
          &:-ms-input-placeholder{
            opacity: 0;
          }
          &:-moz-placeholder { 
            opacity: 0;
          }
          &:focus, &:not(:placeholder-shown){
            + label{
              top: 15px;
              color: $navy-blue;
            }
          }
        }
        input[type="button"]{
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          width: 100%;
          background: $light-blue;
          line-height: 2em;
          color: $black;
          border: 1px solid $light-blue;
          border-radius: $br;
          padding: $spacing/4;
          transition: .5s;
          &:hover{
            background-color: $blue;

          }
          &:active{
            transform: scale(0.96);
          }
        }
       
    }
}