@import '../../style/brekpoint';
@import '../../style/variables';

.btn{
    text-decoration: none;
    border: 0;
    font-family: $font-title;
    font-weight: 600;
    line-height: 20px;

    background: none;
    color: $blue;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 3px 6px -3px $light-gray;
    }
}

.btn-custom{
    padding: 5px 10px;
    border: 1px solid;
    cursor: pointer;
}

