@import '../../style/brekpoint';
@import '../../style/variables';

.sidebar{
    flex: 0 0 $sidebar-width;
    width: $sidebar-width;
    height: 100vh;
    

    &-container{
        display: flex;
        height: 100%;
        font-family: $font-title;
        flex-direction: column;    
        background: $dark-gray;
        justify-content: space-between;
        padding-left: 10px;
        transition: 0.5s;
    }
    &-list{
       height: 100%;
       transition: 0.5s;
       overflow: hidden;
       margin-top:25px;
    ul{
        width: 100%;

        li{
            position: relative;
            width: 100%;
            padding-left: 10px;
            list-style: none;
            &:hover{
                border-left: 2px solid $light-blue;
                background: rgba(159, 162, 180, 0.49);
                
            }
            &:nth-child(1){
               margin-bottom: 20px;
                &:hover{
                border-left: none;
                background: none;
            }
        }
    }
}
}
    a{
        position: relative;
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-sidebar;;

            .icon{
                position: relative;
                display: block;
                min-width: 20px;
                height: 20px;
                line-height: 30px;
                text-align: center;

                &:hover{
                    color: $light-blue;
                }

            }
            .title{
                position: relative;
                padding: 0 10px;
                height: 30px;
                color: $color-sidebar;
                font-size: 16px;
                text-align: center;
                line-height: 30px;
                white-space: nowrap;
            }
        }

        
 
    
    .logout{
         display: flex;
         margin-bottom: 25px;
    
        &-link{
            justify-content: end;
            margin-right: 20px;       
              
              &:hover{
                border-right: 2px solid $light-blue;
             }
        }
        }
}