@import '../../style/variables';
@import '../../style/brekpoint';

.navbar{
    margin: 0;
    padding: 15px 0;

    &-container{
        width: 100%;
    }
}

.nav{
    margin-right: 5rem;
    display: flex;
    justify-content: end;

    a{
        font-size: 20px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.5;
        padding: 7px 10px;
         border-radius: 5px;
         background: $bg-grey;

        &:hover{
         color: $black;
         background: $white;
        }
    }

}